@use '~styles/variables' as *;

$padding-card-block: 40px;
$border-block: 1px solid $bg-primary-color;
$border-premary-card-color: 1px solid #cec2e6;

.about-me {
	&__block {
		align-content: center;
	}

	&__sub-title {
		font-size: 13px;
		opacity: $opacity;
		text-transform: uppercase;
		width: fit-content;
	}

	&__flex-flag {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	&__padding-default {
		padding: $padding-card-block;

		@media (width <= 900px) {
			padding: 20px;
		}
	}

	&__border-flag {
		border: $border-block;
	}

	&__border-primaty {
		border: $border-premary-card-color;
	}

	&__border-radius-default {
		border-radius: $section-border-radius;

		@media (width <= 900px) {
			border-radius: 25px;
		}
	}

	&__bg-blur {
		backdrop-filter: blur(10px);
	}

	@media (width <= 1000px) {
		&__block {
			height: -webkit-fill-available;
		}
	}
}
