/* stylelint-disable */

@use '~styles/variables' as *;

.footer {
	background-color: transparent;
	color: $bg-primary-color;
	font-family: $font-family;
	font-size: 20px;
	margin: 0 auto;
	width: 100%;

	&--footer-fix {
		position: fixed;
		bottom: 20px;
	}

	&__content {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-family: $font-family;
		margin: 0 auto;
		margin-inline: $section-outsice-margin;
		//opacity: $opacity;
		text-transform: uppercase;
		padding-block: 20px;
	}

	&__item {
		backdrop-filter: blur(10px);
		background-color: $bg-blur-color;
		border-radius: $section-border-radius;
		padding-block: 10px;
		padding-inline: 15px;
		transition: background-color $time-transition;

		&:hover {
			background-color: $bg-blur-color-hover;
		}
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		justify-content: center;
		margin-bottom: 20px;
		width: 100%;
	}

	&__social-link {
		color: $bg-primary-color;
		opacity: $opacity;
		text-decoration: none;
		transition: opacity $time-transition;
		white-space: nowrap;

		&:hover {
			opacity: 1;
		}
	}

	&__bottom {
		align-items: center;
		border-top: 1px solid rgb(255 255 255 / 10%);
		display: flex;
		flex-direction: column;
		gap: 10px;

		text-align: center;
		width: 100%;
	}

	&__text {
		color: $bg-primary-color;
		margin: 0;
	}

	&--position-absolut {
		position: absolute;
		bottom: 20px;

		@media (width <= 900px) {
			position: static;
		}
	}

	&--limit {
		max-width: $max-page-width;
	}
}

.footer--position-absolut > .footer__content {
	padding: 0;

	@media (width <= 900px) {
		padding-block: 20px;
	}
}

.footer--footer-fix > .footer__content {
	padding: 0;
}

@media (width >= 900px) {
	.footer {
		&__content {
			flex-direction: row;
			justify-content: space-between;
		}

		&__social {
			justify-content: flex-start;
			margin-bottom: 0;
			width: auto;
		}

		&__bottom {
			flex-direction: row;
			justify-content: flex-end;
			text-align: end;
			width: auto;
		}
	}
}
