.profileContainer {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 120px 20px 0;
}

.profileContent {
	flex-grow: 1;
	padding-left: 60px;
}

.profile {
	h2 {
		margin-bottom: 24px;
	}

	.info {
		p {
			margin-bottom: 16px;
		}
	}
}
