@use '~styles/variables' as *;

.container {
	block-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: $max-page-width;
	position: relative;
	z-index: 0;
}

.section-bg {
	background-color: $bg-primary-color;
	border-radius: $section-border-radius;
	color: white;
	font-family: $primary-font;
	margin: $margin-section;
	margin-inline: $section-outsice-margin;
	max-width: $max-page-width;
	padding: $section-inside-padding;
}
