@use '~styles/variables' as *;

.footer {
	width: 100%;
	max-width: $max-page-width;
	margin: 0 auto;
	color: $bg-primary-color;
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
	background-color: transparent;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 40px 20px;
		font-family: $font-title;
		text-transform: uppercase;
		opacity: $opacity;
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
		width: 100%;
		margin-bottom: 20px;
	}

	&__socialLink {
		color: $bg-primary-color;
		font-size: 1rem;
		white-space: nowrap;
		text-decoration: none;
		opacity: $opacity;
		transition: opacity $time-transition;

		&:hover {
			opacity: 1;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;
		padding-top: 20px;
		text-align: center;
		border-top: 1px solid rgb(255 255 255 / 10%);
	}

	&__text {
		margin: 0;
		color: $bg-primary-color;
		font-size: 0.9rem;
	}
}

@media (width >= 900px) {
	.footer {
		&__content {
			flex-direction: row;
			justify-content: space-between;
			padding: 40px;
		}

		&__social {
			justify-content: flex-start;
			width: auto;
			margin-bottom: 0;
		}

		&__bottom {
			flex-direction: row;
			justify-content: flex-end;
			width: auto;
			text-align: end;
		}
	}
}
