@use '~styles/variables' as *;

.footer {
	width: 100%;
	max-width: $max-page-width;
	margin: 0 auto;
	color: $bg-primary-color;
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
	background-color: transparent;

	&__bottom {
		display: flex;
		justify-content: end;
		gap: 20px;
		width: 100%;
		text-align: end;
		border-top: 1px solid rgb(255 255 255 / 10%);
	}

	&__text {
		margin: 0;
		color: $bg-primary-color;
		font-size: 0.9rem;
	}
}

.content {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 40px;
	font-family: $font-title;
	text-transform: uppercase;
	opacity: $opacity;
	margin-inline: 25px;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin-bottom: 1.5rem;
}

.link {
	color: $bg-primary-color;
	font-size: 1rem;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: #3498db;
	}
}

.social {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.socialLink {
	color: $bg-primary-color;
	font-size: 1rem;
	text-decoration: none;
	opacity: $opacity;
	transition: opacity $time-transition;

	&:hover {
		opacity: 1;
	}
}

/* Адаптивность */

@media (width <= 768px) {
	.links {
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	.social {
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
}
