@font-face {
	font-family: 'Geniralfont-Regular';
	src: url('~fonts/font-files/geniralfont-regular/geniralfont-regular.eot');
	src: url('~fonts/font-files/geniralfont-regular/geniralfont-regular.eot?#iefix')
			format('embedded-opentype'),
		url('~fonts/font-files/geniralfont-regular/geniralfont-regular.woff2')
			format('woff2'),
		url('~fonts/font-files/geniralfont-regular/geniralfont-regular.woff')
			format('woff'),
		url('~fonts/font-files/geniralfont-regular/geniralfont-regular.ttf')
			format('truetype');
}
