// window-size
$max-page-width: 1440px;

// font
$font: 'Playfair', sans-serif;
$primary-font: 'Iter', sans-serif;
$font-size-min: 20px;

// transition
$time-transition: 0.5s ease;
$opacity: 0.7;
$scale: scale(1.1);

// colors
$bg-primary-color: rgb(29 29 29);
