.preloader {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.preloader-circle {
	animation: spin 0.75s infinite linear;
	border: 1px solid;
	border-color: #000 #3e3e3e #989898 #fff;
	border-radius: 50%;
	display: block;
	height: 74px;
	width: 74px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
