$app-size: 100vh;
$bg-gradient: radial-gradient(#414141 5%, transparent 6%);
$bg-size: 30px 30px;
$bg-color: white;

.app {
	display: flex;
	flex-direction: column;
	block-size: $app-size;
	background-color: $bg-color;
}
