@use '~styles/variables' as *;
@use '~styles/mixins' as *;

$bg-gradient: radial-gradient(#414141 5%, transparent 6%);
$bg-size: 30px 30px;

.app {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	background-color: $bg-color;
}
