@use '~styles/variables' as *;
@use '~styles/mixins' as *;

// grid-settings
$grid-gap: 20px;
$grid-rows: auto auto auto;
$grid-columns: repeat(4, 1fr);
$img-side-size: 280px;
$img-border-radius: 50%;

.aboutMe {
	&__content {
		display: grid;
		grid-template-rows: $grid-rows;
		grid-template-columns: $grid-columns;
		gap: $grid-gap;
		block-size: 100%;
	}

	&__block {
		padding-inline: 32px;
		align-content: center;
		border: 1px solid $bg-primary-color;
		border-radius: $section-border-radius;
	}

	&__titleBlock {
		// padding-inline: 32px;
		grid-row: 1;
		grid-column: 1 / span 4;
	}

	&__info1 {
		// padding-inline: 32px;
		grid-row: 2 / span 2;
		grid-column: 1;
	}

	&__info2 {
		grid-row: 2 / span 2;
		grid-column: 2;
	}

	&__info3 {
		grid-row: 2;
		grid-column: 3 / span 2;
	}

	&__info4 {
		grid-row: 3;
		grid-column: 3 / span 2;
	}

	&__imageContainer {
		display: flex;
		grid-row: 1 / span 3;
		grid-column: 4;
		justify-content: center;
		align-items: center;
	}

	&__title {
		margin: 0;
		font-weight: 900;
		font-size: 150px;
		font-family: $font-title;
		text-transform: uppercase;
	}

	&__description {
		margin-bottom: 0;
		font-size: $font-size-min;
		line-height: $section-description-line-height;
		opacity: $opacity;
	}

	&__image {
		width: $img-side-size;
		height: $img-side-size;
		object-fit: cover;
		border-radius: $img-border-radius;
	}

	&__button {
		@include button;
		grid-row: 4;
		grid-column: 1;
	}
}
