@use '~styles/variables' as *;
@use '~styles/mixins' as *;

// control-section-var
$page-title: clamp(70px, 10vw, 150px);
$img-side-size: 280px;
$img-border-radius: 50%;
$padding-card-block: 40px;
$border-block: 1px solid $bg-primary-color;
$card-min-w: 360px;
$font-size-sub-title: 13px;
$font-size-title-page: 150px;
$font-weight-title: 900;
$premary-card-color: #cec2e6;

// grid-settings
$grid-gap: 20px;
$grid-rows: auto auto auto;
$grid-columns: repeat(4, 1fr);
$title-block-row: 1;
$title-block-col: 1 / span 4;
$stack-block-row: 2 / span 2;
$stack-block-col: 1;
$timeline-block-row: 2 / span 2;
$timeline-block-col: 2;

.about-me {
	&__content {
		display: grid;

		// grid-auto-rows: 1fr 3fr 1fr;
		gap: 20px;
		grid-template-columns: 1.5fr 1.5fr 1fr;
	}

	&__cards {
		@media (width <= 1440px) {
			min-width: auto;
		}
	}

	&__title-container {
		grid-column: 1 / span 4;
		grid-row: 1;
	}

	&__title {
		font-family: $font-title;
		font-size: $page-title;
		font-weight: 900;
		text-transform: uppercase;
	}

	&__stack {
		background-color: $bg-primary-color;
		color: white;
		grid-column: 1;
		grid-row: 2 / span 2;
	}

	&__timeline {
		background-color: #cec2e6;
		color: $bg-primary-color;
		grid-column: 2;
		grid-row: 2 / span 2;
	}

	&__image-dkmfzf {
		align-items: center;
		border: none;
		display: flex;
		grid-column: 3 / span 2;
		grid-row: 2;
		justify-content: center;
	}

	&__image-wrapper {
		inline-size: 90%;
	}

	&__image {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__discriptrion-dkmfzf {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		grid-column: 3 / span 2;
		grid-row: 3;
		justify-content: center;
	}

	@media (width <= 1000px) {
		&__content {
			align-items: center;
			grid-template-columns: 2fr 2fr 1fr;
		}

		&__title-container {
			grid-column: 1 / span 3;
		}

		&__stack {
			grid-column: 1;
			grid-row: 2 / span 2;
		}

		&__timeline {
			grid-column: 2;
			grid-row: 2 / span 2;
		}

		&__image-dkmfzf {
			grid-column: 3;
			grid-row: 2;
		}

		&__image-wrapper {
			inline-size: 100%;
		}
	}

	@media (width <= 900px) {
		&__content {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, min-height);
		}

		&__title-container {
			display: none;
		}

		&__image-dkmfzf {
			grid-column: 1;
			grid-row: 1;
		}

		&__image-wrapper {
			inline-size: 50%;
		}

		&__discriptrion-dkmfzf {
			grid-column: 1;
			grid-row: 2;
		}

		&__stack {
			grid-column: 1;
			grid-row: 3;
		}

		&__timeline {
			grid-column: 1;
			grid-row: 4;
		}
	}
}
