@use '~styles/variables' as *;
@use '~styles/mixins' as *;

// control-section-var
$img-side-size: 280px;
$img-border-radius: 50%;
$padding-card-block: 40px;
$border-block: 1px solid $bg-primary-color;
$card-min-w: 360px;
$font-size-sub-title: 13px;
$font-size-title-page: 150px;
$font-weight-title: 900;
$premary-card-color: #cec2e6;

// grid-settings
$grid-gap: 20px;
$grid-rows: auto auto auto;
$grid-columns: repeat(4, 1fr);
$title-block-row: 1;
$title-block-col: 1 / span 4;
$stack-block-row: 2 / span 2;
$stack-block-col: 1;
$timeline-block-row: 2 / span 2;
$timeline-block-col: 2;
$title-block-row: 1;
$title-block-col: 1 / span 4;

.aboutMe {
	// global-setting-card

	&__content {
		display: grid;
		grid-template-rows: $grid-rows;
		grid-template-columns: $grid-columns;
		gap: $grid-gap;
		block-size: 100%;
	}

	&__cards {
		min-width: $card-min-w;
	}

	// title-card

	&__titleContainer {
		grid-row: $title-block-row;
		grid-column: $title-block-col;
	}

	&__title {
		font-weight: $font-weight-title;
		font-size: $font-size-title-page;
		font-family: $font-title;
		text-transform: uppercase;
	}

	// stack-card

	&__stack {
		position: relative;
		grid-row: 2 / span 2;
		grid-column: 1;
		align-content: normal;
		color: white;
		background-color: $bg-primary-color;
	}

	// timeline-card

	&__timeline {
		grid-row: $timeline-block-row;
		grid-column: $timeline-block-col;
		background-color: $premary-card-color;
		border: 1px solid $premary-card-color;
	}

	// other-card

	&__info3 {
		grid-row: 2;
		grid-column: 3 / span 2;
	}

	&__info4 {
		grid-row: 3;
		grid-column: 3 / span 2;
	}

	&__imageContainer {
		display: flex;
		grid-row: 1 / span 3;
		grid-column: 4;
		justify-content: center;
		align-items: center;
	}

	&__description {
		margin-bottom: 0;
		font-size: $font-size-min;
		line-height: $section-description-line-height;
		opacity: $opacity;
	}

	&__image {
		width: $img-side-size;
		height: $img-side-size;
		object-fit: cover;
		border-radius: $img-border-radius;
	}
}
