@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.icon {
	align-items: center;
	display: flex;
	justify-content: center;
	opacity: $opacity;
	transition: opacity $time-transition, transform $time-transition;

	&:hover {
		opacity: 1;
		transform: $scale;
	}
}
