@use '~styles/variables' as *;
@use '~styles/mixins' as *;

$inset-top: 10px;
$container-width: 500px;

.header {
	position: fixed;
	inset: $inset-top 0 0;
	z-index: 1;
	inline-size: 100%;
	font-family: $primary-font;

	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-inline-size: $container-width;
		margin: 0 auto;
		background-color: $bg-primary-color;
		border-radius: 40px;
		padding-block: 15px;
		padding-inline: 30px;
	}
}
