@use '~styles/variables' as *;
@use '~styles/mixins' as *;

$header-z-index: 1;
$header-padding: 32px;
$header-inset-top: 20px;
$header-ls: 10px;
$header-border: none;
$header-gap-element: 32px;
$header-gap-element-icon: 16px;

.header {
	position: fixed;
	top: $header-inset-top;
	z-index: $header-z-index;
	width: 100%;
	color: $bg-primary-color;

	&__container {
		max-width: $max-page-width;
		margin: 0 auto;
	}

	&__insideWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: $header-padding;
		border: $header-border;
		border-radius: $section-border-radius;
		margin-inline: $section-outsice-margin;
	}

	&__brand {
		font-size: $font-size-min;
		font-family: $primary-font;
		letter-spacing: $header-ls;
		text-transform: uppercase;
	}

	&__logo {
		@include link($font-size-min, $bg-primary-color);
		transition: opacity $time-transition;
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: $header-gap-element;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__menuItem {
		display: flex;
		align-items: center;
	}

	&__link {
		@include link($font-size-min, $bg-primary-color);
		font-family: $primary-font;
		text-transform: uppercase;
	}

	&__icons {
		display: flex;
		gap: $header-gap-element-icon;
	}
}
