@use '~styles/mixins' as *;
@use '~styles/variables' as *;

.title-content {
	@include noselect;

	font-family: $font-family;
	font-weight: 900;
	inline-size: max-content;
	opacity: 0.6;
}
