@use '~styles/variables' as *;

$premary-card-color: #cec2e6;

.cards-wrapper {
	left: 0;
	position: absolute;
	top: 0;
	transform-origin: center center;
	will-change: transform;
}

.card {
	aspect-ratio: 16 / 9;
	border-radius: $section-border-radius;
	color: white;
	cursor: pointer;
	min-inline-size: 500px;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	transform-origin: center center;

	&__logo-wrapper {
		block-size: 100%;
		inline-size: 100%;
		position: relative;

		& .logo-bg {
			aspect-ratio: 1 / 1;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			inline-size: 40%;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__content-wrapper {
		align-items: end;
		background-color: #f5f5f5;
		block-size: 100%;
		border-radius: 8px;
		box-sizing: border-box;
		display: flex;
		inline-size: 100%;
		left: 0;
		mix-blend-mode: difference;
		opacity: 1;
		padding: 20px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
	}

	&__title-container {
		color: rgb(29 29 29);
		font-family: $font-family;
		font-size: 50px;
		font-weight: 900;
	}
}
