@use '~styles/variables' as *;

$main-padding-start: 70px;
$main-padding-end: 20px;
$main-border: 1px solid $bg-primary-color;

.main {
	margin: auto;
	max-width: $max-page-width;
	padding-block: $main-padding-start $main-padding-end;
	position: relative;
	width: 100%;
	z-index: 0;

	&__section-bg {
		color: $bg-primary-color;
		font-family: $primary-font;
		margin: $margin-section;
		margin-inline: $section-outsice-margin;
		max-width: $max-page-width;

		@media (width <= 900px) {
			margin-inline: 15px;
		}
	}
}
