@use '~styles/variables' as *;

.container {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: $max-page-width;
	block-size: 100%;
	margin: 0 auto;
}

.sectionBg {
	max-width: $max-page-width;
	margin: $margin-section;
	padding: $section-inside-padding;
	color: white;
	font-family: $primary-font;
	background-color: $bg-primary-color;
	border-radius: $section-border-radius;
	margin-inline: $section-outsice-margin;
}
