@font-face {
	font-family: 'Playfair';
	src: url('~fonts/font-files/Playfair/PlayfairDisplay-Italic.ttf')
		format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair';
	src: url('~fonts/font-files/Playfair/PlayfairDisplay.ttf')
		format('truetype');
	font-weight: 400;
}
