@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.containerMain {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: $max-page-width;
	block-size: 100%;
	margin: 0 auto;
}

.main {
	display: flex;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;
}
