.containerMain {
	display: flex;
	flex-direction: column;
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	display: flex;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;
}
