@use '~styles/variables' as *;
@use '~styles/mixins' as *;

.containerMain {
	display: flex;
	flex-direction: column;
	max-width: $max-page-width;
	margin: 0 auto;
	padding-block-start: 150px;
}

.main {
	display: flex;
	justify-content: space-between;
	height: 100%;
	overflow: hidden;
}
