@use '~styles/variables' as *;

$premary-card-color: #cec2e6;

.cards-wrapper {
	font-family: $primary-font;
	position: absolute;
	transform-origin: 0 0;
	user-select: none;
	will-change: transform;
}

.card {
	background: linear-gradient(135deg, #cec2e6 0%, #b3d5df 100%);
	border: 1px solid rgb(255 255 255 / 20%);
	border-radius: $section-border-radius;
	box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
	color: $bg-primary-color;
	cursor: pointer;
	display: block;
	min-inline-size: 300px;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	z-index: 1;

	&__title-container {
		background-color: $bg-primary-color;
		padding-block: 20px;
		padding-inline: 20px;
	}

	&__title {
		color: white;
		font-size: 36px;
		font-weight: 600;
		white-space: nowrap;
	}

	&__discription-container {
		padding-block-end: 20px;
		padding-inline: 20px;
	}

	&__discription {
		color: $bg-primary-color;
		display: block;
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 15px;
		opacity: $opacity;
	}

	&__btn {
		background-color: white;
		border-radius: 50%;
		display: block;
		padding: 10px;
		width: fit-content;
	}
}
