@use '~styles/variables' as *;

$premary-card-color: #cec2e6;

.cardsWrapper {
	position: absolute;
	font-family: $primary-font;
	will-change: transform;
	transform-origin: 0 0;
	user-select: none;
}

.card {
	position: absolute;
	z-index: 1;
	display: block;
	min-inline-size: 300px;
	overflow: hidden;
	color: $bg-primary-color;
	text-decoration: none;
	background: linear-gradient(135deg, #cec2e6 0%, #b3d5df 100%);
	border: 1px solid rgb(255 255 255 / 20%);
	border-radius: $section-border-radius;
	box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
	cursor: pointer;

	&__titleContainer {
		padding-inline: 20px;
		padding-block: 20px;
		background-color: $bg-primary-color;
	}

	&__title {
		color: white;
		font-weight: 600;
		font-size: 36px;
		white-space: nowrap;
	}

	&__discriptionContainer {
		padding-inline: 20px;
		padding-block-end: 20px;
	}

	&__discription {
		display: block;
		margin-bottom: 15px;
		color: $bg-primary-color;
		font-size: 1rem;
		line-height: 1.5;
		opacity: $opacity;
	}

	&__btn {
		display: block;
		width: fit-content;
		padding: 10px;
		background-color: white;
		border-radius: 50%;
	}
}
