@use '~styles/variables' as *;

$padding-card-block: 40px;
$border-block: 1px solid $bg-primary-color;
$border-premary-card-color: 1px solid #cec2e6;

.aboutMe {
	&__block {
		align-content: center;
		padding: $padding-card-block;
		border-radius: $section-border-radius;
	}

	&__subTitle {
		width: fit-content;
		font-size: 13px;
		text-transform: uppercase;
		opacity: $opacity;
	}

	&__borderDefault {
		border: $border-block;
	}

	&__borderPrimaty {
		border: $border-premary-card-color;
	}
}
