@use '../variables' as *;

@mixin button($font-size: 20px, $color: white) {
	padding: $btn-inside-padding;
	font-size: $font-size;
	background-color: $color;
	border: none;
	border-radius: $btn-border-radius;
	cursor: pointer;
	transition: transform $time-transition;

	&:hover {
		transform: $scale;
	}
}
